h1.title {
    text-align: center;
}

body {
    background-color: darkgrey;
}

.brief_info {
    font-size: 16px;
    text-align: center;
}

.info_box {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    border: 3px solid blue;
}

.shield {
    /* to center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 25%;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 24px;
}

th, td {
    padding: 5px;
}

/* to center the table */
table.center {
    margin-left: auto;
    margin-right: auto;
}

ul.horizontal_nav {
    /* to remove the dot from li elements */
    list-style-type: none;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal_nav > li {
    float: left;
}

ul.horizontal_nav > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: white;
}

tr:hover {
    background-color: cornflowerblue;
}

@media (min-width: 500px) {
    body {
        max-width: 100%;
        height: auto;
    }

    .shield {
        width: 15%;
        height: auto;
    }
}

@media (max-width: 499px) {
    table {
        width: 20%;
    }
}
