
body {
    background-color: darkgrey;
}

.brief_info {
    font-size: 16px;
}

.info_box {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    border: 3px solid blue;
}

.shield {
    /* to center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 25%;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    font-size: 24px;
}

th, td {
    padding: 5px;
}

/* to center the table */
table.center, table.table-sm {
    margin-left: auto;
    margin-right: auto;
}

ul.horizontal_nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal_nav > li {
    float: left;
}

ul.horizontal_nav > li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

div.card.history_info {
    margin: 15px;
}

.match_result {
    margin: 15px;
    width: 25%;
}

/* TODO: To equal the height of the card title when some names occupy several lines. */
.file_card {
    margin: 10px;
    width: 172px;
}

img.card-img-top {
    width: 85%;
    margin: 15px;
    /* To center image */
    margin-left: auto;
    margin-right: auto;
}

.small_icon {
    width: 10%;
    margin: 15px;
}

h5 > .btn.btn-link:hover {
    color: white;
}

/* Parallax effect */

/* TODO: Refactor several parallax classes in only class */
.parallax {
    height: 400px;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first_parallax {
    background-image: url('./img/parallax/parallax_image1.jpg');
}

.second_parallax {
    background-image: url('./img/parallax/parallax_image2.jpg');
}

.third_parallax {
    background-image: url('./img/parallax/parallax_image3.jpg');
}

@media (min-width: 500px) {
    body {
        max-width: 100%;
        height: auto;
    }

    .shield {
        width: 15%;
        height: auto;
    }
}

@media (max-width: 499px) {
    table {
        width: 20%;
    }

    .small_icon {
        width: 35%;
    }
}
