$centered_position: center;
$leicester_blue:#003090;
$background_darker_blue: #004590;
$text_color: white;
$hover_item_color: cornflowerblue;
$list_element_without_dot: none;

.title, th, td, ul#results, ul.performance > li a, .file_card, .match_result {
  text-align: $centered_position;
}

a.navbar-brand:hover, a.nav-link:hover, ul.nav.nav-pills li.nav-item a.nav-link.active {
  background-color: $leicester_blue;
}

nav.navbar.navbar-light .nav-link:hover, nav.navbar.navbar-light .nav-link, nav.navbar.navbar-light a.navbar-brand, a.navbar-brand, a.nav-link, .history_info:hover, .file_card:hover, .card-body:hover a, .fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram  {
  color: $text_color;
}

nav, footer, a.nav-link, .navbar-toggler {
  background-color: $background_darker_blue;
}

tr#leicester_city, .table-striped thead tr {
  background-color: $background_darker_blue;
  color: $text_color;
}

.history_info:hover, .file_card:hover {
  background-color: $hover_item_color;
}

ul#results, .performance, ul.horizontal_list {
  list-style-type: $list_element_without_dot;
}