$centered_position: center;
$leicester_blue: blue;
$hover_letter_color: white;
$hover_item_color: cornflowerblue;
$list_element_without_dot: none;

h1.title, h2.title, .brief_info, table, th, td, ul#results, ul.horizontal_nav > li a {
    text-align: $centered_position;
}

li a:hover, table.table-sm.table-dark thead tr th[scope=col], ul.nav.nav-pills li.nav-item a.nav-link.active {
    background-color: $leicester_blue;
}

th, ul.horizontal_nav > li a, div.card:hover div.card-body a, div.card:hover, li a:hover {
    color: $hover_letter_color;
}

div.card:hover, tr:hover {
    background-color: $hover_item_color;
}

ul#results, ul.horizontal_nav {
    list-style-type: $list_element_without_dot;
}